.login-box {
    max-width: 480px;
    text-align: center;
    margin: 5rem auto;
}
#icon-login {
    font-size: 13rem;
    color: #DFD0B8;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.login-box h1 {
    font-family: "Lalezar";
    text-align: center;
    color: #DFD0B8;
    border-bottom: 2px solid #948979;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.input-box {
    position: relative;
    border: 2px solid #DFD0B8;
    border-radius: 30px;
    border-left: none;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}
.input-box input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;
    padding: 1rem 1rem 1rem 4rem;
    color: #ffff;
}
.input-box input::placeholder {
    color: #ffffff85;
}
.input-box i {
    position: absolute;
    left: 0;
    top: 50%;
    border: 2px solid #DFD0B8;
    border-radius: 50%;
    padding: .75rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #DFD0B8;
}
.submit-btn button {
    all: unset;
    width: 60%;
    color: #222831;
    background-color: #DFD0B8;
    padding: 1rem 0;
    border-radius: 2rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 700;
    transition: .3s;
}
.submit-btn button:hover {
    background-color: #948979;
}