.company-info {
    margin-top: 3rem !important;
}
.box {
    background-color: #DFD0B8;
    padding: 2rem;
    border-radius: 2rem;
    border: 4px solid #948979;
}
.box h1 ,
.course-section h1{
    font-family: "Lalezar";
    color: #222831;
    margin-bottom: 2rem;
}
.box h1 {
    border-bottom: 2px solid #222831;
    padding-bottom: 1rem;
}
.box p {
    text-align: justify;
}
.pic-header,
.pic-success {
    width: 100%;
    max-width: 530px;
}
.section-course-home-page h1 {
    width: 100%;
    text-align: center;
    background-color: #DFD0B8;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 4px solid #948979;
    margin-bottom: 1rem;
    white-space: nowrap;
}
.section-course-des p {
    text-align: justify;
}
.pic-success {
    aspect-ratio: 1;
}
.success-info .box h3 {
    font-family: "Lalezar";
    max-width: 50%;
    border-bottom: 2px solid #222831;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}
.btn-top {
    color: #222831;
}
.btn-top i {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #948979;
    font-size: 3rem;
    border-radius: 50%;
    z-index: 1;
}
.teacher-section {
    overflow: hidden;
}
.teacher-section h2 {
    font-family: "Lalezar";
    color: #DFD0B8;
    max-width: 100%;
    text-align: center;
    padding: 1rem 3rem;
    border: #DFD0B8 3px solid;
    border-radius: 1rem;
    white-space: nowrap;
    margin: 5rem auto .5rem;
}

.start-teaching-section {
    position: relative;
    max-width: 100%;
    height: 480px;
    color: #fff;
    background-image: url('https://i.imgur.com/hmmE7hi.jpeg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
}
.start-teaching-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222831;
    opacity: 0.6;
}
.start-teaching-info {
    position: relative;
    top: 5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.start-teaching-info h1{
    font-size: 2.5rem;
    font-family: "Lalezar";
    color: #DFD0B8;
}
.btn-start-teaching-info {
    align-self: flex-end;
    padding: .5rem 2rem;
    font-size: 1rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    background-color: #DFD0B8;
    font-weight: 500;
    border-radius: .5rem;
    transition: .3s;
}
.btn-start-teaching-info:hover {
    background-color: #948979;
    color: #fff;
}

@media screen and (min-width : 992px) {
    .start-teaching-info h1 {
        font-size: 3rem;
    }
    .btn-start-teaching-info {
        padding: .5rem 2rem;
    }
    .teacher-section h2 {
        width: 50%;
    }
    .section-course-home-page h1 {
        margin: 3rem 0 2rem;
    }
}