.section-title {
  background-color: #dfd0b8;
  color: #222831;
  padding: .5rem;
  border-radius: 1.5rem;
  border: 4px solid #948979;
  margin: 3rem 0 1.5rem;
  width: 85%;
  text-align: center;
}
.section-course-des h1 {
  font-family: "Lalezar";
  font-size: 2rem;
}
.section-course-des p {
  font-size: 1.25rem;
  color: #fff;
  border-right: 4px solid #948979;
  padding-right: 1.5rem;
  margin-bottom: 2rem;
}
.course-section h2 {
  font-family: "Lalezar";
  font-size: 2.2rem;
  padding-top: .5rem;
}
.course-section {
  background-color: #dfd0b8;
  margin: 2rem 0 3rem;
  padding: 2rem;
  border-radius: 2rem;
  border: 4px solid #948979;
}
@media screen and (min-width : 992px) {
  .section-title {
    margin: 3rem 0;
  }
}