.section-title {
  background-color: #dfd0b8;
  color: #222831;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 4px solid #948979;
  box-shadow: 0 0 30px #94897954;
  margin: 3rem 0;
  width: 85%;
}
.section-course-des h1 {
  font-family: "Lalezar";
  font-size: 2rem;
}
.section-course-des h5 {
  line-height: 2rem;
}
.section-course-des p {
  font-size: 1.25rem;
  color: #fff;
  border-right: 4px solid #948979;
  padding-right: 1.5rem;
  margin-bottom: 2rem;
}
.course-section h2 {
  font-family: "Lalezar";
  font-size: 2.2rem;
  padding-top: .5rem;
}
.course-section {
  background-color: #dfd0b8;
  margin: 2rem 0 3rem;
  padding: 2rem;
  border-radius: 2rem;
  border: 4px solid #948979;
}
